<div class="container">
<h1>Cocktail Kings Homepage</h1>
<h2>
  <%= link_to "Add new cocktail", new_cocktail_path %>
</h2>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-md-4">

      <div class="card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                /*'app/assets/images/stock_drink.jpg'*/
               url('<%= cl_image_path cocktail_photo_path(cocktail), height: 250, width: 400, crop: :fill; %>')">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
        <!-- <a class="card-link" href="#" ></a> -->
      </div>


      <h2>
        <%= link_to cocktail_path(cocktail) do %>
        <%= cocktail.name%>
        <% end %>
      </h2>
    </div>
    <% end %>
  </div>
</div>
